
body {
  /* background-image: url(/img/86500075-cfa1-11ed-8e80-e17ec7a0ad4c.gif); */
  background-image: url(/img/sfondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}

a {
  color: #00B7FF;
}

#g {
  width: 100px;
}

.column {
  width: 15%;
  height: 30%;
  display: inline-block;
  background-color: #ccc;
  margin-top: 6%;
  margin-left: 2%;
}
header {
  padding: 0%;
  width: max-content;
  height: 10%;
  font-size: 25px;
  display: inline;
}

.bottonedinavigazione{
  display: inline-block;
  vertical-align: top;
  width: max-content;
}
#bottonecartone{
  height: 10%;
  width: 10%;
  margin-left: 65%;
  position: absolute;
}

section{
  display: inline;
  margin-top: 10px;
  width: max-content;
}