
body {
  /* background-image: url(/img/86500075-cfa1-11ed-8e80-e17ec7a0ad4c.gif); */
  background-color: #ffff00;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}

a {
  color: 	#ff0000;
}

#g {
  width: 100px;
}

 /* .colonna {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 15%;
  background-color: aquamarine;
  display: ;
}  */
header {
  padding: 0%;
  width: 100%;
  height: 10%;
  font-size: 25px;
  display: inline;
}

.bottonedinavigazione{
  display: inline-block;
  vertical-align: top;
  width: max-content;
}
#bottonecartone{
  height: 12%;
  width: 8%;
  margin-left: 65%;
  position: absolute;
  background-color: #ffff00;
  border: none;
}

/* section{
  display: flex;
  flex-wrap: wrap;
} */

.column {
  float: left;
  width: 18%;
  padding: 15px;
  text-align: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.imgpizze{
  width: 50%;
  height: 50%;
}
#bvendi{
  font-size: larger;
  display: inline-block;
  width: 50%;
  height: 30Px;
  padding: 5px;
  background-color:	#ff0000; 
}

h2{
  color :	#ff0000;  

}
